
div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 70px;
    width: 100%;
    position:fixed;
    clear: both;
    overflow: visible;
    top:93%;
    background-color: #330d0970;
    color: white;
}